In [25]:
import pandas as pd
import matplotlib.pyplot as plt

# Read in the data
annual_data = pd.read_csv('annual-co-emissions-by-region.csv')
per_capita_data = pd.read_csv('co-emissions-per-capita.csv')
country_data = pd.read_csv('countries.csv')

annual_data.head(10)

        Entity Code  Year  Annual CO₂ emissions
0  Afghanistan  AFG  1949               14656.0
1  Afghanistan  AFG  1950               84272.0
2  Afghanistan  AFG  1951               91600.0
3  Afghanistan  AFG  1952               91600.0
4  Afghanistan  AFG  1953              106256.0
5  Afghanistan  AFG  1954              106256.0
6  Afghanistan  AFG  1955              153888.0
7  Afghanistan  AFG  1956              183200.0
8  Afghanistan  AFG  1957              293120.0
9  Afghanistan  AFG  1958              329760.0

In [30]:
# making total emissions data

# get the total emissions for each year per region
total_emissions = annual_data.groupby('Entity').sum()
total_emissions = total_emissions.drop(columns=['Year'])

# print min and max values
print(total_emissions['Annual CO₂ emissions'].min())
print(total_emissions['Annual CO₂ emissions'].max())

153888.0
1736930050960.0

<ipython-input-30-f3f5fc0a5064>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_emissions = annual_data.groupby('Entity').sum()

In [32]:
# only keep 2021 data and code not NaN

annual_data = annual_data[annual_data['Year'] == 2021]
annual_data = annual_data[annual_data['Code'].notna()]
annual_data = annual_data.reset_index(drop=True)


per_capita_data = per_capita_data[per_capita_data['Year'] == 2021]
per_capita_data = per_capita_data[per_capita_data['Code'].notna()]

# merge the two dataframes
merged = pd.merge(annual_data, per_capita_data, on='Code', how='inner')
merged = merged.drop(columns=['Year_y', 'Entity_y'])
merged = merged.rename(columns={'Year_x': 'Year', 'Entity_x': 'Entity'})

# get min max values with formatting
print(merged['Annual CO₂ emissions'].min())

7948.0
37123850000.0

In [19]:
#export to csv
merged.to_csv('annual_data.csv', index=False)
total_emissions.to_csv('total_emissions.csv')

In [27]:
#removing quotation marks from country names
country_data['name'] = country_data['name'].str.replace('"', '')
country_data.head()
country_data.to_csv('country_data.csv', index=False)